{% extends 'base.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% block side %}
<div class="container">
  <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>{{message.tags}}</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 mt-3">
            <div class="card" style="width: 18rem; border: 1px solid #b3bcc9;">
                <img class="card-img-top rounded-circle text-center" src="{{user.profile_pic.url}}" alt="{{request.user}}" style="height: 200px; width:200px" >
                <div class="card-body">
                  <h5 class="card-title">{{request.user.first_name}} {{request.user.last_name}}</h5>
                  <p class="text-justify">Hello..., I am {{user.first_name}} {{user.last_name}} from {{user.zilla}}... My post office is {{user.post_office}} and village is {{user.village}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span><b>Father Name: {{user.father_name}}</b></span></li>
                  <li class="list-group-item"><span><b>Mother Name: {{user.mother_name}}</b></span></li>
                  <li class="list-group-item"><span><b>Voter Id: {{user.username}}</b></span></li>
                </ul>
                <div class="card-body">
                  <a href="#" class="btn btn-info">more details</a>
                  <a href="#" class="btn btn-info">Next Vote</a>
                </div>
              </div>
        </div>
        <div class="col-8">
          <h1 class="text-center bg-info p-5 m-3 text-danger">No Notification !!!!!!!!!!!</h1>
        </div>
    </div>
</div>
{% endblock side %}

{% block script %}
    {{block.super}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    </script>
{% endblock script %}